{% extends "layout.html" %}

{% block title %}
	Pavlov Button
{% endblock %}

{% block body %}
	<div 
		class="w-100 h-100"
		ng-app="PavlovApp" 
		ng-controller="PavlovCtrl" 
		ng-init="init({{folders}},{{metadata}})"
		ng-cloak>
	<div class="row h-100 w-100">
		<div class="col w-100 text-center">
			<h1>Score: <% score %></h1>
			<h4>Current sound: <% sound.folder + " / "+ sound.text%></h4>
			<a 
				id="button"
				ng-click="click()" 
				class="btn btn-success">
				Click Me!</a>
		</div>
	</div>
		<!-- Custom JS -->
		<script src="{{url_for('static', filename='scripts/pavlov.js')}}"></script>
	</div>
{% endblock %}
