<html class = "w-100 h-100">
    <head>
        <title>
            Sound-Bricolage WordCloud
        </title>
        <meta charset="utf-8">  <!-- it's important for d3.js -->
        <!-- Angular Material CSS -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script> 
        <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <!-- Word Cloud Dependencies -->
        <script src="{{ url_for('static', filename='node_modules/d3/build/d3.min.js')}}"></script>
        <script src="{{ url_for('static', filename='node_modules/d3-cloud/build/d3.layout.cloud.js')}}"></script>
		<script src="{{ url_for('static', filename='node_modules/angular-d3-word-cloud/dist/angular-word-cloud.min.js')}}"></script>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/yeti/bootstrap.min.css">
    </head>
    <body class= "w-100 h-100"ng-app="WordcloudApp" ng-controller="WordcloudCtrl" ng-cloak ng-init="init({{folders}},{{metadata}})">

		<div class="row justify-content-md-center">
			<div class="col text-center">
				<md-button ng-repeat="folder in folders" ng-click="select_folder(folder)" class="md-raised md-primary"><% folder %></md-button>
			</div>
		</div>

		<div class="row mt-4 justify-content-md-center">
			<div class="col h-100" id="wordcloud-col">
				<word-cloud 
					width="wordcloud_width"
					height="wordcloud_height"
					words="words" 
					padding="5"
					rotate="rotate" 
					use-tooltip="false"  
					random="random" 
					use-transition="true" 
					on-click="select_sound"></word-cloud>
			</div>
			<div class="col-4 mx-4 text-center">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Selected Sound:</h5>
						<p class="card-text"><% selected_sound.text %></p>
						<a ng-click="add_sound(selected_sound)" class="btn btn-primary">Add To Selection</a>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Selection</h5>
						<ul class="list-group py-2">
							<li ng-repeat="sound in selection" 
								class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
								ng-click="play_sound(sound)">
								<% sound.folder + '/' %> <b><% sound.text %></b>
								<a ng-click="remove_sound(sound)" class="btn btn-warning">Remove</a>
							</li>
						</ul>
						<a ng-click="download_selection(selection)" class="btn btn-primary">Download Selection</a>
					</div>
				</div>
			</div>
		</div>


	<!-- Custom JS -->
	<script src="{{url_for('static', filename='scripts/wordcloud.js')}}"></script>
	<!-- Bootstrap JS dependencies -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </body>
</html>